[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MRMCbinary"]
	path = MRMCbinary
	url = https://github.com/seungjae2525/mrmcbinary
